body {
  background-color: burlywood;
}

.contenedor {
  max-width: 960px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #5aaafc;
  animation-name: MiAnimacion;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

@keyframes MiAnimacion {
  from {
    font-size: 0%;
    margin-left: 80%;
  }

  50% {
    font-size: 100%;
  }

  to {
    font-size: 100%;
    margin-left: 10%;
    width: 90%;
  }
}
header {
  background-color: #8fa68e;
  padding: 20px;
  text-align: center;
  border: 3px solid white;
}
.holder {
  display: flex;
}
nav {
  background-color: #c0392b;
  width: 30%;
  margin: auto;
  padding: 0;
  border-radius: 15px 10px 5px 5px;
}
nav ul li {
  list-style: none;
  padding: 10px;
  display: flex;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
main {
  width: 40%;
  background-color: #f7dc6f;
}
aside {
  background-color: #1abc9c;
  width: 30%;
}
footer {
  background-color: #ccc59e;
  text-align: center;
  border: 2px solid rebeccapurple;
}
.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 5;
}

/*manipulo color y info segun medidas*
/*cambios mayor a 601px*/
@media only screen and (max-width: 996px) {
  body {
    background-color: blue;
  }
  header {
    text-align: center;
    border-radius: 12px;
    border-bottom: 3px solid chartreuse;
  }
  .holder {
    flex-wrap: wrap;
    font-size: 20px;
  }
  nav {
    width: 100%;
    border-bottom: 2px solid black;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  main {
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 18px;
  }
  aside {
    background-color: peru;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 20px;
  }
  footer {
    background-color: aquamarine;
    border-radius: 15px;
    border-bottom: 5px solid chartreuse;
    font-size: 20px;
  }
  img {
    display: none;
  }
}
/*el cambio va de 0 a 600px*/
@media only screen and (max-width: 600px) {
  body {
    background-color: #b2c6cc;
  }
  img {
    display: none;
  }
  /*header {
    text-align: center;
    border-radius: 12px;
    border-bottom: 3px solid blue;
  }
  .holder {
    flex-wrap: wrap;
    font-size: 20px;
  }
  nav {
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 15px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  main {
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 18px;
  }
  aside {
    background-color: peru;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 20px;
  }
  footer {
    background-color: aquamarine;
    border-radius: 15px;
    border-bottom: 5px solid blue;
    font-size: 20px;
  }*/
}
